<div>
  <label for="region">Region:</label>
  <select id="region" [(ngModel)]="selectedRegion" (change)="filterData()">
    <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
  </select>

  <label for="dateFrom">Date From:</label>
  <input type="number" id="dateFrom" [(ngModel)]="dateFrom" (change)="filterData()" min="1960" max="2100" placeholder="YYYY">

  <label for="dateTo">Date To:</label>
  <input type="number" id="dateTo" [(ngModel)]="dateTo" (change)="filterData()" min="1960" max="2100" placeholder="YYYY">
</div>

<table>
  <thead>
  <tr>
    <th>Continent Name</th>
    <th>Region Name</th>
    <th>Country Name</th>
    <th>Year</th>
    <th>Population</th>
    <th>GDP</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filteredData | paginate:{itemsPerPage:30,currentPage:p}">
    <td>{{ data.continent_name }}</td>
    <td>{{ data.region_name }}</td>
    <td>{{ data.country_name }}</td>
    <td>{{ data.year }}</td>
    <td>{{ data.population }}</td>
    <td>{{ data.gdp }}</td>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
